img {
  width: 100%;
  height: 1350px;
  position: relative;
  top: -100px;
  z-index: -1;
}
.section h1 {
  padding: 1rem;
  font-weight: 900;
  font-size: 40px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 450px;
  text-align: center;
  z-index: 1;
}
button {
  padding: 0.2rem;
    font-weight: 900;
    font-size: 50px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(244, 36, 36);
    color: aliceblue;
    border-radius: 15%;
    width: 300px;
    text-align: center;
    z-index: 1;
}
button:hover {
  color: aqua;
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  img {
    height: 1000px;
    position: relative;
    top: -15px;
  }
  .section h1 {
  padding: 0.5rem;
  font-weight: 800;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 550px;
  text-align: center;
  z-index: 1;
}
  button {
  padding: 0.2rem;
    font-weight: 900;
    font-size: 40px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(244, 36, 36);
    color: aliceblue;
    border-radius: 15%;
    width: 250px;
    text-align: center;
    z-index: 1;
}
}

@media screen and (max-width: 900px) {
  img {
    height: 700px;
  }
  .section h1 {
  padding: 0.5rem;
  font-weight: 800;
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 550px;
  text-align: center;
  z-index: 1;
}
button {
  padding: 0.2rem;
    font-weight: 900;
    font-size: 40px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(244, 36, 36);
    color: aliceblue;
    border-radius: 15%;
    width: 250px;
    text-align: center;
    z-index: 1;
}
}
@media screen and (max-width: 650px) {
  img {
    height: 600px;
  }
  .section h1 {
    padding: 0.5rem;
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    width: 400px;
    text-align: center;
    z-index: 1;
  }
  button {
  padding: 0.2rem;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(244, 36, 36);
    color: aliceblue;
    border-radius: 15%;
    width: 200px;
    text-align: center;
    z-index: 1;
}
}

@media screen and (max-width: 450px) {
  img {
    height: 400px;
  }
  .section h1 {
    padding: 0.2rem;
    font-weight: 900;
    font-size: 15px;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    width: 300px;
    text-align: center;
    z-index: 1;
  }
  button {
  padding: 0.2rem;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(244, 36, 36);
    color: aliceblue;
    border-radius: 15%;
    width: 130px;
    height: 50px;
    text-align: center;
    z-index: 1;
}
}

@media screen and (max-width: 350px) {
  .section h1 {
    padding: 0.2rem;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    width: 200px;
    text-align: center;
    z-index: 1;
  }
  button {
  padding: 0.2rem;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(244, 36, 36);
    color: aliceblue;
    border-radius: 15%;
    width: 80px;
    text-align: center;
    z-index: 1;
}
}

